<a href="https://colab.research.google.com/github/way2sapnaa/pythonassignment/blob/main/Assignment_Python_Data_Structure_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. What are data structures, and why are they important?**

*Answer:*

Data structures are ways of organizing and storing data efficiently. They help in processing, retrieving, and storing data effectively, crucial for writing optimized code.

**2. Explain the difference between mutable and immutable data types with examples.**

*Answer:*

Mutable data types can be changed after creation (e.g., lists, dictionaries), while immutable types cannot (e.g., strings, tuples). Example: `my_list = [1, 2]` is mutable, `my_tuple = (1, 2)` is immutable.

**3. What are the main differences between lists and tuples in Python?**

*Answer:*

Lists are mutable and allow changes, while tuples are immutable and faster for iteration. Lists use square brackets `[]`, tuples use parentheses `()`.

**4. Describe how dictionaries store data.**

*Answer:*

Dictionaries store data in key-value pairs using a hash table, allowing quick access via keys.

**5. Why might you use a set instead of a list in Python?**

*Answer:*

Sets remove duplicate elements and offer fast membership testing, making them useful when uniqueness is required.

**6. What is a string in Python, and how is it different from a list?**

*Answer:*

A string is an immutable sequence of characters. Unlike lists, strings cannot be modified in-place.

**7. How do tuples ensure data integrity in Python?**

*Answer:*

Tuples are immutable, preventing accidental data changes. This ensures data integrity in programs.

**8. What is a hash table, and how does it relate to dictionaries in Python?**

*Answer:*

A hash table stores key-value pairs and allows fast access using keys. Python dictionaries are built on hash tables.

**9. Can lists contain different data types in Python?**

*Answer:*

Yes, Python lists can contain different data types like `['apple', 10, True]`.

**10. Explain why strings are immutable in Python.**

*Answer:*

Strings are immutable to ensure consistency, optimize memory, and allow safe sharing among variables.

**11. What advantages do dictionaries offer over lists for certain tasks?**

*Answer:*

Dictionaries allow fast key-based access and better organization for large datasets compared to index-based lists.

**12. Describe a scenario where using a tuple would be preferable over a list.**

*Answer:*

Tuples are preferable when data shouldn't change, like storing constants or keys in dictionaries.

**13. How do sets handle duplicate values in Python?**

*Answer:*

Sets automatically eliminate duplicate entries, ensuring all values are unique.

**14. How does the “in” keyword work differently for lists and dictionaries?**

*Answer:*

`in` checks membership. In lists, it checks values; in dictionaries, it checks keys.

**15. Can you modify the elements of a tuple? Explain why or why not.**

*Answer:*

No, tuple elements cannot be changed after creation due to immutability.

**16. What is a nested dictionary, and give an example of its use case.**

*Answer:*

A nested dictionary contains another dictionary. Example: `{'student': {'name': 'Ali', 'age': 21}}`.

**17. Describe the time complexity of accessing elements in a dictionary.**

*Answer:*

Accessing dictionary elements is O(1) on average due to hashing.

**18. In what situations are lists preferred over dictionaries?**

*Answer:*

Lists are better when order matters and elements need to be accessed by position.

**19. Why are dictionaries considered unordered, and how does that affect data retrieval?**

*Answer:*

Dictionaries are unordered collections (before Python 3.7), so data isn't retrieved in insertion order.

**20. Explain the difference between a list and a dictionary in terms of data retrieval.**

*Answer:*

Lists use index-based retrieval; dictionaries use key-based retrieval for faster access.

## Practical Questions

**1. Write a code to create a string with your name and print it.**

In [ ]:
name = "Your Name"
print(name)

Your Name

**2. Write a code to find the length of the string "Hello World".**

In [ ]:
s = "Hello World"
print(len(s))

11

**3. Write a code to slice the first 3 characters from the string "Python Programming".**

In [ ]:
s = "Python Programming"
print(s[:3])

Pyt

**4. Write a code to convert the string "hello" to uppercase.**

In [ ]:
s = "hello"
print(s.upper())

HELLO

**5. Write a code to replace the word "apple" with "orange" in the string "I like apple".**

In [ ]:
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

**6. Write a code to create a list with numbers 1 to 5 and print it.**

In [ ]:
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

**7. Write a code to append the number 10 to the list [1, 2, 3, 4].**

In [ ]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

**8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

In [ ]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

**9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].**

In [ ]:
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

**10. Write a code to reverse the list [10, 20, 30, 40, 50].**

In [ ]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

**11. Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [ ]:
tpl = (100, 200, 300)
print(tpl)

(100, 200, 300)

**12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [ ]:
tpl = ('red', 'green', 'blue', 'yellow')
print(tpl[-2])

blue

**13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [ ]:
tpl = (10, 20, 5, 15)
print(min(tpl))

5

**14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [ ]:
tpl = ('dog', 'cat', 'rabbit')
print(tpl.index('cat'))

1

**15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [ ]:
fruits = ("apple", "banana", "cherry")
print("kiwi" in fruits)

False

**16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [ ]:
s = {'a', 'b', 'c'}
print(s)

{'c', 'b', 'a'}

**17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [ ]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

**18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [ ]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

**19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [ ]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

**20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [ ]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1.intersection(s2))

{2, 3}

**21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [ ]:
d = {"name": "John", "age": 30, "city": "New York"}
print(d)

{'name': 'John', 'age': 30, 'city': 'New York'}

**22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [ ]:
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

**23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [ ]:
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

**24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [ ]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'New York'}

**25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [ ]:
d = {'name': 'Alice', 'city': 'Paris'}
print('city' in d)

True

**26. Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [ ]:
lst = [1, 2, 3]
tpl = (4, 5, 6)
dct = {'a': 7, 'b': 8}
print(lst, tpl, dct)

[1, 2, 3] (4, 5, 6) {'a': 7, 'b': 8}

**27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.**

In [ ]:
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[5, 70, 81, 95, 98]

**28. Write a code to create a list with strings and print the element at the third index.**

In [ ]:
lst = ['apple', 'banana', 'cherry', 'date']
print(lst[3])

date

**29. Write a code to combine two dictionaries into one and print the result.**

In [ ]:
d1 = {'a': 1}
d2 = {'b': 2}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2}

**30. Write a code to convert a list of strings into a set.**

In [ ]:
lst = ['apple', 'banana', 'cherry']
print(set(lst))

{'banana', 'apple', 'cherry'}